.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #15202B;
  display: flex;
  color: white;
  overflow: hidden;
}

.leftSide {
  width: 45vw;
  min-width: 346px;
  height: 100vh;
  background: url(../public/home2.png) center no-repeat;
  background-color: #00ACDF;
  cursor: pointer;
}

.leftSide:hover {
  width: 45vw;
  height: 100vh;
  background: url(../public/home.jpg) center no-repeat;
  background-color: #00ACDF;
  cursor: pointer;
  transition: 1000ms;
}

.rightSide {
  width: 55vw;
  min-width: 422px;
  padding: 2.5rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2em;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;

}

.signUp,
.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2.4rem;
  border-radius: 1rem;
  background-color: white;
  color: #15202B;
  font-weight: 600;
  cursor: pointer;
}

.signUp {
  margin-bottom: 2rem;
}

.signUp:hover,
.signIn:hover {
  background-color: #00ACDF;
  color: white;
  transition: 250ms;
  scale: 1.02;
}